# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl
plan.tfout

# Kubeconfig
kubeconfig
*.kubeconfig

# App
node_modules/
*.env

# OS
.DS_Store
